Install require libraries. Twitter has a limitation of data extraction. you can find more information [Here](https://developer.twitter.com/en/docs/basics/rate-limiting)

In [30]:
#!pip install tweepy
#!pip install matplotlib
#!pip install pandas
#!pip install textblob
#!python -m textblob.download_corpora

In [31]:
# Import libraries
import tweepy
from tweepy import OAuthHandler
import pandas as pd
import os
os.chdir("E:/Social_media_pro")
    
# Keys that provided by Twitter API
consumer_key = 'CdUBIgxcOjmdxE6gZflyqk4yj'
consumer_secret = '4PPUFnnc9qMHmKJuP8rGiiZHQklRCmJGO9QxPRPj2ulrQI0StN'
access_token = '2212709148-PhNlBxiktIJSUlvqBvjfSrszm9eCTZRo0RCs88L'
access_secret = '0ZsrhTmAg6AvWFStX7kR6oQKiOZbaovghH2kfVnXVjyjw'
 
auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth)

### We can extract data from own and other users profile.

In [32]:
#for status in tweepy.Cursor(api.home_timeline).items(50):
#    print(status.text)

### We also can twitter data extraction using certain keywords. in this case keyword is "jackets" for 1000 Tweets.

In [33]:
results = []

#Get the first 5000 items based on the search query
for tweet in tweepy.Cursor(api.search, q='%jackets').items(1000):
    results.append(tweet)

# Verify the number of items returned
print (len(results))

1000

#### This program will convert raw data into structured data and save into csv file.

In [34]:
# Create a function to convert a given list of tweets into a Pandas DataFrame.
# The DataFrame will consist of only the values, which I think might be useful for analysis...


def toDataFrame(tweets):

    DataSet = pd.DataFrame()

    DataSet['tweetID'] = [tweet.id for tweet in tweets]
    DataSet['tweetText'] = [tweet.text for tweet in tweets]
    DataSet['tweetRetweetCt'] = [tweet.retweet_count for tweet 
    in tweets]
    DataSet['tweetFavoriteCt'] = [tweet.favorite_count for tweet 
    in tweets]
    DataSet['tweetSource'] = [tweet.source for tweet in tweets]
    DataSet['tweetCreated'] = [tweet.created_at for tweet in tweets]


    DataSet['userID'] = [tweet.user.id for tweet in tweets]
    DataSet['userScreen'] = [tweet.user.screen_name for tweet 
    in tweets]
    DataSet['userName'] = [tweet.user.name for tweet in tweets]
    DataSet['userCreateDt'] = [tweet.user.created_at for tweet 
    in tweets]
    DataSet['userDesc'] = [tweet.user.description for tweet in tweets]
    DataSet['userFollowerCt'] = [tweet.user.followers_count for tweet 
    in tweets]
    DataSet['userFriendsCt'] = [tweet.user.friends_count for tweet 
    in tweets]
    DataSet['userLocation'] = [tweet.user.location for tweet in tweets]
    DataSet['userTimezone'] = [tweet.user.time_zone for tweet 
    in tweets]

    return DataSet

#Pass the tweets list to the above function to create a DataFrame
DataSet = toDataFrame(results)
DataSet.to_csv("jeans_1000_Tweets.csv")

In [35]:
# Print data that we extracted from Twitter.
DataSet.head()

,tweetID,tweetText,tweetRetweetCt,tweetFavoriteCt,tweetSource,tweetCreated,userID,userScreen,userName,userCreateDt,userDesc,userFollowerCt,userFriendsCt,userLocation,userTimezone
0,1113155251379421190,RT @cervix_chervic: thought abt me naman po si...,0,0,Twitter for Android,2019-04-02 19:04:28,969898824557723649,apeheaaad,·¥Ñ·¥á å…¥…¥·¥á,2018-03-03 11:34:34,26 8 1 9 14 5 19 19,315,315,,None
1,1113155112095105032,RT @ARipple_DAsport: Local sports briefs for A...,4,0,Twitter for iPhone,2019-04-02 19:03:54,956669749676650496,hannah_slope,hannah slope,2018-01-25 23:26:57,‚ú∞ SRU ‚Äò23 ‚ú∞,213,186,,None
2,1113155090439901185,RT @hattiesoykan: bill hader wears good jacket...,181,0,Twitter for iPhone,2019-04-02 19:03:49,844444645,caramcdade,cara MC,2012-09-24 22:48:06,‚Äúi always look annoyed. if you look annoyed al...,147,216,,None
3,1113154920797081605,RT @shauna_brophy: Dublin is literally just ma...,12,0,Twitter for iPhone,2019-04-02 19:03:09,2507944862,Akpata729,Ollie Akpata,2014-05-19 17:10:48,Enjoy your life cause there‚Äôs only 1 life üòä ‚úçüèæ...,298,384,"Ireland, Blanchardstown",None
4,1113154912832061446,RT @Rico486: @reubing Lol. I'll go scream that...,2,0,Twitter for iPhone,2019-04-02 19:03:07,728989901111365632,ladylackey289,Nan Lackey,2016-05-07 16:48:31,,545,221,"Florida, USA",None

This simple data extraction form Twitter. we also can do many operations with this data and find the insight. Other social media also provide similar kind of API to extraction to build and analysis of data. Kindly contact me in you have any questions.